<?xml version="1.0"?>
<config>
	<modules>
		<Ecloud_Bitgento>
			<version>1.0.0.0.1</version>
		</Ecloud_Bitgento>
	</modules>
	<global>
		<models>
			<ecloud_bitgento>
				<class>Ecloud_Bitgento_Model</class>
				<resourceModel>bitgento_resource</resourceModel>
			</ecloud_bitgento>
			<bitgento_resource>
				<class>Ecloud_Bitgento_Model_Resource</class>
				<entities>
					<bitgento>
						<table>ecloud_bitgento</table>
					</bitgento>
				</entities>
			</bitgento_resource>
		</models>
		<helpers>
			<ecloud_bitgento>
				<class>Ecloud_Bitgento_Helper</class>
			</ecloud_bitgento>
		</helpers>
		<blocks>
			<ecloud_bitgento>
				<class>Ecloud_Bitgento_Block</class>
			</ecloud_bitgento>
		</blocks>
		<resources>
			<ecloud_bitgento_setup>
				<setup>
					<module>Ecloud_Bitgento</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
			</ecloud_bitgento_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<ecloud_bitgento>
				<use>standard</use>
				<args>
					<module>Ecloud_Bitgento</module>
					<frontName>bitgento</frontName>
				</args>
			</ecloud_bitgento>
		</routers>
		<layout>
			<updates>
				<ecloud_bitgento>
					<file>ecloud_bitgento.xml</file>
				</ecloud_bitgento>
			</updates>
		</layout>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<ecloud_bitgento>
						<type>model</type>
						<class>ecloud_bitgento/bitgento</class>
						<method>insertBlock</method>
					</ecloud_bitgento>
				</observers>
			</core_block_abstract_to_html_before>
		</events>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<bitgento_config>
											<title>Bitgento</title>
										</bitgento_config>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>